@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  /* ## Colors */
  /* ### Primary */
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  /* ### Accent */
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  /* ### Neutral */
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* HEADER  */
header {
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif;
}

header .wrapper img {
  width: 100px;
  height: auto;
}

header>.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  width: 230px;
}

header .menu ul {
  display: flex;
  justify-content: flex-end;
}

header .menu ul li {
  margin-left: 1em;
}

header .menu ul li a {
  color: var(--VeryDarkBlue);
  font-weight: 500;
}

header .menu ul li a:hover {
  color: var(--DesaturatedBlue);
}

/* END HEADER STYLES */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* GET STARTED SECTION */
#get-started {
  margin-top: 4rem;
  text-align: center;
  padding-bottom: 10rem;
  background-image: url(./images/bg-curve-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#get-started .wrapper .section-flex {
  display: flex;
  flex-direction: column;
}

#get-started .image {
  margin-bottom: 2rem;
}

#get-started .image img {
  width: 100%;
}

#get-started .text {
  color: var(--VeryDarkBlue);
}

#get-started .text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

#get-started .text p {
  width: 85%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
}

#get-started .text form {
  margin-top: 1.75rem;
  width: 85%;
  margin: 1.5rem auto;
}

#get-started .text form input[type="email"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: .75rem;
  border-radius: 3px;
  border: 1px solid var(--DesaturatedBlue);
}

#get-started .text form input[type="email"]:focus {
  outline: 0;
  border: 1px solid var(--BrightBlue);
}

#get-started .text form input[type="email"]::placeholder {
  color: var(--LightGray);
}

#get-started .text form input[type="submit"] {
  background: var(--BrightBlue);
  border: none;
  color: white;
  width: 100%;
  padding: .7rem;
  margin-top: .9rem;
  border-radius: 3px;
  font-size: .9rem;
  font-weight: 600;
}



/* END GET STARTED SECTION */

/* FYLO WORKS SECTION */

#fylo-works {
  background: #F8F8FE;
}

#fylo-works .wrapper .section-flex {
  display: flex;
  flex-direction: column;
}

#fylo-works .image {
  padding-top: 2rem;
}

#fylo-works .image img {
  width: 100%;
}


#fylo-works .text h3 {
  text-align: center;
  margin-top: 4rem;
  color: var(--VeryDarkBlue);
}

#fylo-works .text>p {
  text-align: left;
  margin-top: 2rem;
  line-height: 1.65rem;
  color: var(--DesaturatedBlue);
}

#fylo-works .text .see-how {
  text-align: center;
  margin: 2.5rem 0;
}

#fylo-works .text .see-how .spans {
  border-bottom: 1px solid var(--ModerateCyan);
  width: 160px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#fylo-works .text .see-how span {
  color: var(--ModerateCyan);
  padding-bottom: .25rem;
  font-size: .85rem;
}

#fylo-works .text .card {
  padding: 1.5rem;
  font-size: .9rem;
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.25);
  margin-bottom: 7rem;

}

#fylo-works .text .card p {
  line-height: 1.5rem;
}

#fylo-works .text .card .author .author-avatar {
  width: 30px;
}

#fylo-works .text .card .author .author-avatar img {
  width: 100%;
  border-radius: 100%;
}

#fylo-works .text .card .author {
  display: flex;
  align-items: center;
}

#fylo-works .text .card .author-text {
  margin-left: .75rem;

}

#fylo-works .text .card .author-text p {
  color: var(--VeryDarkBlue);
  line-height: 1rem;
  font-size: .75rem;
}

/* END FYLO WORKS SECTION */

/* GET TODAY SECTION */

#get-today {
  background-color: var(--DesaturatedBlue);
  padding: 2rem 2rem 4rem;
}

#get-today .text {
  color: #fff;
  text-align: center;
}

#get-today .text h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#get-today .text p {
  font-weight: 300;
  line-height: 1.5rem;
}

#get-today form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

#get-today form input {
  border-radius: 3px;
  border: none;
  padding: .75rem;
}

#get-today form input[type="email"]:focus {
  outline: none;
}

#get-today form input[type="email"]::placeholder {
  color: var(--LightGray);
}

#get-today form input[type="submit"] {
  background: var(--BrightBlue);
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;
}

/* END GET TODAY SECTION */

/* FOOTER START */

footer {
  background: var(--VeryDarkBlue);
  color: #fff;
}

footer .grid-container {
  display: grid;
  grid-template-rows: auto auto repeat(2, 1fr);
  grid-template-areas: ".""."".""."".";
}

footer .grid-container a {
  color: #fff;
}

footer .wrapper>img {
  margin-top: 2rem;
}

footer .grid-container .contact-data {
  margin: 3rem 0;
}

footer .grid-container .contact-data div>img {
  width: 20px;
  height: 18px;
  margin-right: 20px;
}

footer .grid-container .contact-data div>p {
  margin-bottom: .5rem;
}

footer .grid-container .contact-data>div {
  display: flex;
  align-items: center;
}

footer .grid-container .fmenu1 ul li,
footer .grid-container .fmenu2 ul li {
  margin-bottom: 1rem;
}


footer .grid-container .fmenu2 {
  margin-top: 2rem;
}

footer .grid-container .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

footer .grid-container .social-icons .social-icon {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: .1rem;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25rem;
}

footer .grid-container .social-icons .social-icon i {
  font-size: .9rem;
}

/* FOOTER END */

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {

  header {
    margin-top: 2.25rem;
  }

  header .wrapper img {
    width: 150px;
  }

  header .menu ul li {
    margin-left: 1.5rem;
  }

  #get-started .wrapper .section-flex {
    flex-direction: row-reverse;
    align-items: center;
  }

  #get-started .image {
    margin-bottom: 0;
  }

  #get-started .text h2 {
    text-align: left;
    font-size: 2rem;
  }

  #get-started .text p {
    text-align: left;
    margin: 2rem 0;
  }

  #get-started .text form {
    display: flex;
    align-items: baseline;
    width: 75%;
    margin: 0;
  }

  #get-started .text form input[type="email"] {
    margin-right: 1rem;
  }

  #get-started .text form input[type="submit"] {
    width: 55%;
    margin-top: 0;
  }

  #fylo-works .wrapper .section-flex {
    flex-direction: row-reverse;
  }

  #fylo-works .image {
    width: 60%;
  }

  #fylo-works .text h3 {
    margin-top: 0;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  #fylo-works .text>p {
    margin-top: 0;
    color: var(--VeryDarkBlue);
    width: 75%;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: .95rem;
  }

  #fylo-works .text .see-how {
    margin: 1rem 0 2rem;
  }

  #fylo-works .text .see-how .spans {
    margin: 0;
  }

  #fylo-works .text .card {
    width: 360px;
  }

  #fylo-works .text .card p {
    font-size: .8rem;
    line-height: 1.25rem
  }

  #fylo-works .text .card .author {
    margin-top: 0.25rem;
  }

  #get-today {
    padding: 5rem 0rem;
  }

  #get-today .wrapper {
    width: 90%;
  }


  #get-today .wrapper .section-flex {
    display: flex;

  }

  #get-today .text {
    width: 60%;
  }

  #get-today .text h3 {
    text-align: left;
    font-size: 2rem;
  }

  #get-today .text p {
    text-align: left;
    width: 70%;
    line-height: 1.35rem;
    font-size: 0.95rem;
    font-weight: 400;
  }

  #get-today form {
    width: 40%;
  }

  #get-today form input {
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.25);
  }

  #get-today form input[type="submit"] {
    width: 40%;
  }

  footer {
    padding-bottom: 3rem;
  }

  footer .wrapper>img {
    margin-top: 3rem;
  }

  footer .grid-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: ". . . .";
  }

  footer .grid-container .contact-data {
    margin: 0;
  }

  footer .grid-container .fmenu2 {
    margin: 0;
  }

  footer .grid-container .fmenu1 ul li a:hover,
  footer .grid-container .fmenu2 ul li a:hover {
    color: var(--DesaturatedBlue);
  }

  footer .grid-container .social-icons {
    margin: 0;
    justify-content: flex-start;
  }

  footer .grid-container .social-icons .social-icon:hover {
    cursor: pointer;
    background: white;
    color: var(--VeryDarkBlue);
  }
}